import CL from 'clsx';
{{#if isSubPage ~}}
import { Outlet } from 'react-router-dom';
{{/if}}

import styles from './{{kebabCase name}}.module.css';
export const {{properCase name}} = (function {{properCase name}}({ className })
{
  return (
    <div className={CL(styles.main, className)}>
      <header>
        <h1>Welcome to {{properCase name}} Page</h1>
      </header>
        {{#if isSubPage ~}}
                <Outlet />
        {{/if}}
    </div>
  );
});